body{
    background-image: linear-gradient(to top, #4496d9, #4192d6, #3e8fd4, #3c8bd1, #3988ce);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}